<!DOCTYPE html>
<script type="text/javascript" >

function delete_message(master_id){
      
       document.getElementById("action_code").value='delete_message';
       document.getElementById("master_id").value=master_id;
       document.getElementById("form1").submit();
}

function edit_message(master_id,name,message){
  	// alert('IN');
       document.getElementById("action_code").value='edit_message';
       document.getElementById("master_id").value=master_id;
       document.getElementById("name").value=name;
       document.getElementById("message").value=message;
       // document.getElementById("form1").submit();
}

</script>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
</head>
<body>
	
	<form id='form1' name='form1' method="POST" action="test.php">
		<h2><strong>留言</strong></h2>
		<p>{$name}:<input id='name' name="name" cols="52"></p>
		<p>內容:</p>
		<p><textarea id='message' name="message" rows="8" cols="52"></textarea></p>
		<p><input type="submit" value="送出留言"> <input type="reset" value="清除留言"></p>
		
		<input type="hidden" id='action_code' name='action_code' value='{$action_code}' >
      	<input type="hidden" id='master_id' name='master_id' value="">
		
		<table border="1" width="60%">
			<tr>
        <th>{$name}</th>
        <th>{$details}</th>
        <th>{$time}</th>
        <th>{$edit}</th>
        <th>{$deleted}</th>
        <th>{$testclass}</th>
      </tr>
      {foreach from=$message_arr item=message}
      <tr>
      	<td>{$message.name}</td>
      	<td>{$message.message}</td>
      	<td>{$message.create_time}</td>
      	<td>
      		<input type="button" value='編輯' onclick="edit_message('{$message.id}','{$message.name}','{$message.message}')">
      	</td>
      	<td>
              <input type="button" value='刪除' onclick="delete_message('{$message.id}')">
        </td>
        <td>{$message.name}</td>
      </tr>
			    
			{/foreach}
     
      <tr>
        <td>演藝專長</td>
        <td>
          {foreach from=$aSpecialty item="specialty" name="specialty" key=k}
          <input type="checkbox" name="specialty[]" value={$k} >{$specialty}
          {/foreach}
        </td>
      </tr>

      <tr>
        <td>演藝專長</td>
        <!-- {html_checkboxes}使用 -->
        <td>
          {html_checkboxes name='contact_type_id' options=$aSpecialty
        selected=$check_id }
        </td>
      </tr>
		</table>
	</form>
</body>


</html>

