
<script type="text/javascript" >

function delete_message(master_id){
      
       document.getElementById("action_code").value='delete_message';
       document.getElementById("master_id").value=master_id;
       document.getElementById("form1").submit();
}

function edit_message(master_id,name,message){
  	// alert('IN');
       document.getElementById("action_code").value='edit_message';
       document.getElementById("master_id").value=master_id;
       document.getElementById("name").value=name;
       document.getElementById("message").value=message;
       // document.getElementById("form1").submit();
}

</script>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
</head>
<body>
	
	<form id='form1' name='form1' method="POST" action="test.php">
		<h2><strong>留言</strong></h2>
		<p>{$name}:<input id='name' name="name" cols="52"></p>
		<p>內容:</p>
		<p><textarea id='message' name="message" rows="8" cols="52"></textarea></p>
		<p><input type="submit" value="送出留言"> <input type="reset" value="清除留言"></p>
		
		<input type="hidden" id='action_code' name='action_code' value='{$action_code}' >
      	<input type="hidden" id='master_id' name='master_id' value="">
		
		<table border="1" width="60%">
			<tr>
                <th>{$name}</th>
                <th>{$details}</th>
                <th>{$time}</th>
                <th>{$edit}</th>
                <th>{$deleted}</th>

            </tr>
            {foreach from=$message_arr item=item}
            <tr>
            	<td>{$item.1}</td>
            	<td>{$item.2}</td>
            	<td>{$item.3}</td>
            	<td>
            		<input type="button" value='編輯' onclick="edit_message('{$item.0}','{$item.1}','{$item.2}')">
            	</td>
            	<td>
                    <input type="button" value='刪除' onclick="delete_message('{$item.0}')">
                </td>
            </tr>
			    
			{/foreach}
		</table>
	</form>
</body>


</html>

